<h2>New Celebritry</h2>

<form action="">
    <p>Name : </p><input type="text"><hr>
    <p>Occupation : </p><input type="text"><hr>
    <p>Catch Phrase : </p><input type="text"><hr>
    <button>Add !</button>
</form>