<div>
    <h1>Celebrities and Moves</h1>
    <p>Welcome to Moves and Celebrities ...</p>
    <p>... A other boring CRUD exercise<3 </p>
</div>
<hr>
<div>
    <div>
        <a href="/celebrities"> => Celebrities</a>
        <hr>
        <br>
    </div>
    <div>
        <a href="/movies"> => Movies</a>
            <hr>
        <br>
    </div>
</div>

<footer>
   
</footer>