<h1>Movies</h1>
<hr>

<div>
    <a href="/movies/new"> => Add New Movie</a>
    <hr>
    <br>
</div>
<div>
    {{#each Movie}}
    <div>
        <h2>‘{{this.title}}</h1>
        <p>{{this.genre}}</p>
        <p>{{this.plot}}</p>
        <p>{{this.cast}}</p>>
        <hr>
    </div>
    {{/each}}
</div>
<hr>